<div class="col-6 mt-4">
    <h2>Buy Product</h2>
    <form [formGroup]="buyForm" class="justify-content-center" (ngSubmit)="onSubmit(buyForm)">
        <div class="form-group row my-2">
            <label  class="form-control-label is-invalid" for="productIdInput" class="col-sm-2 col-form-label">Product:</label>
            <div class="col-sm-10">
                <input formControlName="productId" name="productId" type="number" id="productIdInput" placeholder="Your productId" class="form-control">
                <div class="text-danger" *ngIf="buyFormControls['productId'].errors">
                    Product is required
                </div>
            </div>
        </div>
        <div class="form-group row my-2">
            <label for="amountInput" class="col-sm-2 col-form-label">Amount:</label>
            <div class="col-sm-10">
                <input class="form-control-label is-invalid" formControlName="amount" type="number" id="amountInput" placeholder="Your amount" class="form-control">
                <div class="text-danger" *ngIf="buyFormControls['amount'].errors">
                    Amount is required
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
</div>
